body {
    margin: 0;
    padding: 0;
}
#app {
    background-image: url(https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2868921261,1478363960&fm=26&gp=0.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* background: rgba(0,0,0,.8);/ */
    box-shadow: 0 15px  25px rgba(0,0,0,.5);


}
.el-row {
    height: 100%;
}
#app h3 {
    text-align: center;
}


/* 登陆和注册按钮的父元素 */
.el-form-item__content {
    display: flex;
    justify-content:center;
    /* padding-left: -100px; */
}
/* 登陆按钮 */
.el-button--primary {
    margin-left: -100px;
}

/* 手机号和密码文字颜色 */
.el-form-item__label {
    color: white;
}
/* 手机号和密码的文本框 */
.el-input__inner {
    width: 300px;
}